//颜色
$input-font-size: 14px;
$input-border-radius: 8px;
$input-big-height: 36px;
$input-middle-height: 32px;
$input-small-height: 24px;
$input-text-color: #4A505E;
$border-default-color: #DEE2E7;
$border-primary-color: #71CDFF;
$border-error-color: #FF5676;
$border-infor-color: #5B8EFF;
$border-success-color:  #27E2B2;
$border-warn-color: #FFBD3C;
$borderdisable-color: #F8F9FD;