.way-input-number {
  display: inline-flex;
  align-items: center;
  border: #eee 1px solid;
  border-radius: 5px;
  overflow: hidden;
}

.way-input-number__format {
  padding: 0 10px;
}

.way-input-number__input {
  border: 0;
  padding: 0 10px;
  outline: 0;
  line-height: 30px;
  white-space: nowrap;
  text-align: center;
}

.way-input-number__control {
  position: relative;
  width: 22px; 
  height: 100%;; 
  text-align: center;
}
.way-input-number__control-up, .way-input-number__control-down {
  height: 50%;
  display: block;
  border: #eee 1px solid;
  margin-top: -1px;
  margin-right: -1px;
}
.way-input-number__control-up .fe, .way-input-number__control-down .fe {
  font-size: 10px;
  color: #eee;
 
}