.way-date-time {
  position: relative;
}

.way-date-time__select {
  border: #eee 1px solid;
  display: flex;
  padding: 5px 10px;
  border-radius: 8px;
  min-width: 320px;

  &:hover {
    border-color: #71CDFF;
  }

  &-single {
    flex: 1 1 0;
  }


  &-multi {
    display: flex;
    flex: 1 1 0;

    &__start, &__end {
      flex: 1 1 0;
    }

    &__split {
      width: 30px;
    }
  }


  .fe {
    color: #9AB0C6;   
  }

  &-input {
    border: 0;
    width: 100%;
    outline: 0;
    font-size: 100%;
  }
}  


.way-date-time__pop {
  position: absolute;
  top: 36px;
  left: 0;
 
  border: #DEE2E7 1px solid;
  z-index: 2;
  background-color: #fff;
  &-date {
    display: flex;
  }
}




/**
日期
*/
.way-date-time__date-picker {
  width: 200px;

  &:last-child {
    border-left: #eee 1px solid;
  }
  &__date {
    height: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 10px;
    border-bottom: #DEE2E7 1px solid;

    &__show {
      flex: 1 1 0;
      display: inline-flex;
      align-items: center;
      justify-content: center;
      .show-month::before {
        content: ", "
      }
    }


    &__prev-month, &__next-month {
      display: inline-block;
      width: 7px;
      height: 0px;
      // background-color: #000;
      border-top: transparent 3px solid;
      border-bottom: 3px transparent solid;
      border-right: 7px solid #9AB0C6;
      position: relative;
    }


    &__prev-year, &__next-year {
      position: relative;
      width: 10px;
      height: 6px;
      display: inline-flex;
      justify-content: center;
      margin-right: 8px;
      &::before, &::after {
        content: " ";
        display: inline-block;
        width: 7px;
        height: 0;
        border-top: transparent 3px solid;
        border-bottom: 3px transparent solid;
        border-right: 7px solid #9AB0C6;
      }      
    }

    &__next-month, &__next-year::before, &__next-year::after {
      border-right: 0;
      border-left: 7px solid #9AB0C6;
    }

    &__next-year {
      margin-left: 8px;
      margin-right: 0;
    }


  }

  //周
  &__week {
    display: flex;
    margin-top: 10px;
    &-item {
      flex: 1 1 0;
      text-align: center;
    }
  }

  //天数
  &__day {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    // grid-template-columns: 100%/7 100%/7 100%/7;
    &-item {
      // grid-column: 1/7;
      padding: 5px;
      text-align: center;
      cursor: pointer;
    }

    .active {
      background-color: #71CDFF;
      color: #fff;
      border-radius: 100%;
    }

    .disable {
      //background-color: #eee;
      color: #bbb;
     // border-radius: 100%;
    }
    .range {
      color: #fff;
      background-color: rgb(184, 252, 252);
    }
  }


  //月份
  &__month {
    display: grid;
    grid-template-columns: repeat(3, 1fr);

    &-item {
      padding: 6px;
      text-align: center;
    }
    .active {
      background-color: #71CDFF;
    }
  }

  //年份
  &__year {
    display: grid;
    grid-template-columns: repeat(3, 1fr);

    &-item {
      padding: 6px;
      text-align: center;
    }

    .active {
      background-color: #71CDFF;
    }
  }

  
}