@import "fontawesome/scss/fa-solid.scss";
@import 'fontawesome/scss/fontawesome.scss';

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

body {
  font-size: 12px;
  color: #000;
}

body, div, p, ul, li, ol, h1, h2, h3, h4, h5, h6, input, button, form, section,
article, main {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  color: #bbb;
  text-decoration: none;
}

a:hover {
  color: #4263F5;
}


@import 'hd-input';
@import 'hd-icon';
